
@media only screen and (max-width: 600px) {

  .home,.ctag,.python{
    font-size: 15px;

  }
  .ctag{
    margin-left: 10px;
  }

  .python{
    margin-left: 5px;
  }
  .home{
    margin-left:10%;
  }
  .img{
    width: 20px;
  }
  .homelogo{
    font-size: 10px;




  }
  #header{
    margin-left:2px;
    margin-right: 40px;;
    width: 200px;
    
    text-align: center;
  }
  #head-img{
    margin-left: 20px;
    margin-right: -95px;
  }
  #container{
    justify-content: space-between;
  }
  #installation{
    display: grid;



  }
  #content{
    font-size: 12px;
    margin-top: 0px;
    width: 95%;
    margin-left: 10px;
  }
  #grid1-content, #grid2-content, #grid3-content, #grid4-content, #grid5-content, #grid6-content, #grid7-content, #grid8-content, #grid9-content{

   font-size: 12px;

}
#c-intro{
  width:60%;
  font-size: 14;
  margin-left: 20%;

}
#head-container{
  width: 78.9%;
  margin-left: 0;
  font-size: 11.5px;
  margin-left: 20px;
  
}
#lead-img{
  width: 130px;
  height: 100px;
}
#installation{
  background-color: white;
  border: 2px solid white;
  border-radius: 25px;
  width: 88%;
  margin-left: 20px;
  

  

}
#content{
  background-color: #e4ebf0;
  border: 3px solid white;
  border-radius: 25px;

}
#container{
  background-color: white;
}
html{
  background-color: black;
}
#grid-container{
  font-size: 18px;
}
#window, #mac, #linux{
  font-size: 10px;
}
.wind-image, .mac-image, .linux-image{
 width: 100px;
}
.dev-footer,.dev-about{
  font-size: 13px;
}
.wartburg-gdsc{
  font-size: 13px;
}
#content-para{
  margin-top: px;
}
.homelogo:hover{
  font-size: 11px;
}
.home:hover,.ctag:hover,.python:hover{
  font-size: 16px;
}
.wind-title, .mac-title ,.linux-title{
  font-family: 'Lora', sans-serif;
  font-size: 30px;
  color:#ba5952;
}
.rotate{
  width: 50px;
}

}
.terminal-png{
  width: 80%;
  margin-bottom: 20px;
}
.terminal-png:hover{
  width: 90%;
}
.style-name{
  font-size: 14px;
}



@media only screen and (max-width: 412px) {
 #header{
  margin-right: -30px;
 }
 #head-img{
  margin-left: -19px;
 }
 #window, #mac, #linux{
  font-size: 10px;
  background-color: white;
  width: 80%;
  margin-left: 40px;
  border-radius: 15px;
}
.linux-terminal{
  width: 80%;
}
.linux-terminal:hover{
  width: 90%;
}
#content{
  width:90%;
}
#head-container{
  width: 70%;
  margin-left:15px;
  border-radius: 10px;
}
#card-content{

  width: 100%;
}
.linkedin-image,.github-image, .insta-image{
  width: 20%;
}
.github-image{
  margin-right: -45px;
  margin-left: 30px;
 
}
.web-footer{
  width: 90%;
  margin-left: 2px;
  border-radius: 10px;
  
}
.wartburg-gdsc,.dev-about, .dev-footer{
  font-size: 11px;
}
#container{
  width: 93%;
  border-radius: 5px;
}


}

